body {
    background-color: #303030;
    font-family: Florence, cursive;
}

/* 
BEGIN HOME CSS 
*/

.logo {
    border-radius: 5px;
    background-color: #cfcfcfef;
}

.logoHeader {
    width: 200px;
}

.header {
    text-align: center;
    background-color: #ffffffe5;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;   
    background-image: url("../img/luffyGeral.png"); 
    background-size : cover;
    height: 320px;
}

.header > img {
    float: right;
    width: 15%;
    position: relative;
}

.headerMenu {
    float: right;
    list-style:none;
}

.headerMenu > li {
    float: left;
    border-radius: 4px;
    margin: 5px;
    color: white;
    display: inline;
    background-color:   #303030;
    padding: 5px;
}

.headerMenu > li:hover {
    background-color: red;
    cursor: pointer;
}

.section {
    text-align: justify;
    width: 50%;
    padding: 10px;
    background-color: #ffffffe5;
    border-radius: 8px;
    float: left;
}

.home > p {
    color: black;
}

.article {
    text-align: center;
    width: 45%;
    height: 100%;
    padding: 10px;
    background-color: #ffffffe5;
    border-radius: 8px;
    float: right;
}

.article > p {
    text-align: justify;
}

.articleBaixo {
    margin-top: 10px;
    margin-right: 19px;
    margin-bottom: 20px;
    text-align: center;
    width: 22%;
    text-justify: auto;
    padding: 10px;
    background-color: #ffffffe5;
    border-radius: 8px;
    float: right;
}

.articleMeio {
    margin-top: 10px;
    text-align: center;
    width: 20%;
    text-justify: auto;
    padding: 10px;
    background-color: #ffffffe5;
    border-radius: 8px;
    float: right;
}

.articleMeio > img {
    height: 157px;
    width: 100%;
}

.articleBaixo > img {
    height: 157px;
    width: 100%;
}

.section > img {    
    width: 100%;
}

/* 
END HOME CSS 
*/


/* 
BEGIN ANIME CSS 
*/

.anime {
    display: none;
}

.sectionAnime {
    text-align: justify;
    height: 403px;
    width: 45%;
    padding: 10px;
    background-color: #ffffffe5;
    border-radius: 8px;
    float: left;
}

.sectionAnimeBaixo {
    margin-top: 10px;
    text-align: justify;
    height: 100px;
    width: 45%;
    padding: 10px;
    background-color: #ffffffe5;
    border-radius: 8px;
    float: left;
}

.sectionAnimeBaixo > img {
    width: 100%;
    height: 100px;
}

.sectionAnime > iframe {
    align-items: center;
}

.articleAnime {
    text-align: justify;
    width: 50%;
    padding: 10px;
    background-color: #ffffffe5;
    border-radius: 8px;
    float: right;
}

.articleAnime > ul > li {
    list-style-type: none;
    margin-top: 10px;
}

.articleAnime > ul > li > a {
    text-decoration: none;
    color: black;
}

.articleAnime > ul > li > a:hover {
    text-decoration: underline; 
}


/* 
END ANIME CSS 
*/


/*
BEGIN MANGA CSS
*/

.sectionManga {
    display: none;
    width: 50%;
    background-color:#ffffffe5;
    padding: 5px;
    float: left;
    border-radius: 5px;
}

.sectionManga > img {
    width: 100%;
    background-size: cover;
}

.articleManga {
    background-color:#ffffffe5;
    float: right;
    padding: 5px;
    width: 45%;
    border-radius: 5px;
}

.articleManga > h3 > a {
    color: white;
    text-decoration: none;
}

.mangaVolume {
    padding: 5px;    
    background-color: #303030;
}

.mangaVolume:hover {
    background-color: red;
    color: black;
}

.mangaVolume:hover {
    cursor: pointer;
}
/*
END MANGA CSS
*/

.footer {
    text-indent: 10px;
    background-color: #EDEDED;
    bottom: 0%;
    margin-top: 10px;
    border-radius: 5px;
    line-height: 3;
}

.footerIcon {    
    float: right;
}

.clear { 
    clear: both; 
}


/* ERICK */

.principal a{
    text-decoration: none;
    color: #e9eff4;
}
.img-top{
    background: url(../Imagem/img-top.jpg);
     height: 400px;
    background-position:  center;
    background-size: cover;
    border-radius: 30px;
}

.header ul{
    text-align: left;
    margin: 20px 25px 20px 20px;
}
.header li{
    list-style: none;
    display: inline-block;
    border: none;
}
.header li:hover a{
    background-color: red;
}

.header li a{
    background: rgba(244, 241, 241, 0.3);
    display: block;
    padding: 10px;
    color: #fdfdfd;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 10px;
    margin-top: 10px;     
}
.nav{
    margin: 60px 100px 100px 100px;
    background-color: rgb(15, 13, 13);
    }
.nav{
    color: aliceblue;
}
.nav p{
    padding: 20px;
}
.nav a:hover{
    color: red;
}
.nav h1{
    text-align: center;
    color: aliceblue;
    padding: 20px;
}
.nav h2{
    text-align: center;
    color: aliceblue;
    padding: 20px;
}
.img-marry{ 
   background: url(../img/mary-img.jpg);
    height: 400px;
    background-position:  center;
    background-size: cover;
    border-radius: 30px;
    width: 100%;
}

/*Estilo pagina Anime*/

.anime-arco h1, h2, p{
    color: black;
    text-align: center;
}
main{
    border-radius: 20px;
    width: 80%;
    margin: auto;
    background-color: #ffffffe5;
}
.card:hover
{
        box-shadow:
                1px 1px #ff0000,
                2px 2px #ff0000,
                3px 3px #fc0000;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
}
.card p{
    background-color: #e51717;
    margin: 0px;
    color: white;
    padding: 1px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}
.content-section{
    padding: 10px;
    overflow: auto;
}
.card{
    width: 32%;
    box-sizing: border-box;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    
}
.card img{
    width: 100%;
    display: block;
    height: 290px;
    
}